.socials__container {
  width: 100%;
  font-family: var(--font-family);
  padding: var(--margin-32px-16px) 0;
}

.socials__posts-container {
  display: flex;
  flex-direction: column;
  gap: var(--margin-16px-8px);
}

.socials__title {
  width: 100%;
  text-align: center;
  margin-bottom: var(--margin-64px-32px);
}

@media screen and (max-width: 411px) {
  .socials__posts-container {
    gap: var(--margin-32px-16px);
  }
}
