.header__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: var(--margin-64px-32px) 0;
}

.header__texts {
  flex: 1;
  display: flex;
  flex-direction: column;

  margin: var(--margin-16px-8px) 0;

  font-family: var(--font-family);
  color: var(--color-text);
}

.header__texts p {
  display: flex;
  margin: var(--margin-16px-8px) 0 calc(var(--margin-16px-8px) * 2) 0;
}

.header__texts p:nth-child(3) {
  cursor: pointer;
}

.header__artwork {
  display: flex;
  justify-content: center;
  width: 50%;
}

.header__artwork img {
  width: 80%;
}

@media screen and (max-width: 784px) {
  .header__container {
    flex-direction: column;
  }

  .header__texts {
    text-align: center;
    align-items: center;
    width: 80%;
  }

  .header__texts p {
    justify-content: center;
  }

  .header__artwork img {
    width: 100%;
  }
}
